<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658985641704-7l93rujgobhn1s44t2ci03ebjk954a19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658985641704-7l93rujgobhn1s44t2ci03ebjk954a19</string>
	<key>API_KEY</key>
	<string>AIzaSyCEQheqG4xr3h8-jiHtBSOo3Hbfx2h3c9E</string>
	<key>GCM_SENDER_ID</key>
	<string>658985641704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yzdevv.travelByte</string>
	<key>PROJECT_ID</key>
	<string>travel-byte</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-byte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658985641704:ios:e9f3023a1f95678e7b0b5d</string>
</dict>
</plist>